Assembly-CSharp.csproj
Temp/*
Library/*
*.ipa
Builds/*
Build/*
*.pidb
*.sln
*.suo
*.userprefs
*.csprog
*.mchg
*.unityproj
Assets/Resources/Bundles/*_*
.hg*
obj/*
stat

.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode
